<div class="container card bg-purple">
  <div class="container card height-long">
    <div *ngFor="let data of output">
      <p><strong>{{data.handle}}: </strong>{{data.message}}</p>
    </div>
    <div id="feedback">
      {{feedback}}
    </div>
  </div>
  <div class="form-control">
    <input id="name" type="text" placeholder="Name" class="w-100" [(ngModel)]="name">
  </div>
  <div class="form-control d-flex justify-content-between pb-5">
    <div class="w-100">
      <input type="text" name="MSG" id="message" class="w-75" placeholder="Message" (keypress)="messageTyping()" [(ngModel)]="message">
    </div>
    <div class="pull-right pb-4">
      <button class="btn btn-primary align-right" (click)="onSend()">Send</button>
    </div>
  </div>
  Hello world
</div>
<router-outlet></router-outlet>
